@font-face {
    font-family: "Blippo Black";
    src: url(./fonts/BlippoBlack.woff) format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Andala";
    src: url(./fonts/AndaleTeletextW0143.woff) format("truetype");
    font-display: swap;
}