//colors
$primary: rgb(85, 31, 85);
$secondary: rgb(244, 190, 142);
$grey: rgb(0, 35, 58);
$white: rgb(255, 255, 255);
$black: rgb(4, 2, 3);

//break points
$max-xl: 375px;
$max-sm: 575px;
$max-md: 768px;
$min-lg: 992px;
$max-lg: 1200px;
