@import "vars";
@import "nav";
@import "home";
@import "products";
@import "fonts";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  height: 100%;
  font-size: 62.5%; // base 10px
  scroll-behavior: smooth;

  body {
    height: 100%;
    background: $black;
    color: $white;
    font-family: "Montserrat", sans-serif;
    h1 {
      font-family: "Blippo Black";
      font-size: 4rem;
      span {
        color: $secondary;
      }
    }
    h2 {
      // font-family: "Blippo Black";
      font-size: 5rem;
    }
    h3 {
      font-size: 3rem;
    }
    h4 {
      font-size: 2rem;
    }
    li {
      font-size: 1.5rem;
    }
    a {
      color: $white;
      text-decoration: none;
    }
  }
}
